<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Selenium Demo">
        <classes>
            <class name="main.java.Intellij_Selenium.CreateNewCustomerTest">
                <methods>
                    <include name="runTest"/>
                </methods>
            </class>
            <class name="main.java.Intellij_Selenium.OpenAccountTest">
                <methods>
                    <include name="runTest"/>
                </methods>
            </class>
            <class name="main.java.Intellij_Selenium.CustomerLoginTest">
                <methods>
                    <include name="runTest"/>
                </methods>
            </class>
            <class name="main.java.Intellij_Selenium.DepositWithdrawTest">
                <methods>
                    <include name="runTest"/>
                </methods>
            </class>
            <class name="main.java.Intellij_Selenium.InitWebDriver">
            </class>
        </classes>
    </test>
</suite>